{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Заголовок:</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Заголовок" required>
        </div>

        <div class="mb-3">
            <label for="salary" class="form-label">Желаемая зарплата:</label>
            <input type="number" id="salary" name="salary" class="form-control" placeholder="Укажите сумму">
        </div>

         <div class="mb-3 mt-3">
            <label for="description" class="form-label">Описание:</label>
            <textarea name="description" cols="20" id="description" class="form-control" rows="5" placeholder="description"></textarea>
         </div>

         <div class="mb-3 mt-3">
            <label for="email" class="form-label">Почта</label>
             <input type="email" class="form-control" name="email" id="email" placeholder="email">

         </div>

          <div class="mb-3 mt-3">
            <label for="contacts" class="form-label">Контакты:</label>
            <input type="text" name="contacts" class="form-control" id="contacts" placeholder="contacts">
          </div>

          <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

{% endblock %}


