<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- подключаем всю статику -->

    <meta charset="UTF-8">

    <!-- подключаем bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- подключаем css файл -->
    <link rel="stylesheet" href="{% static 'my_style.css' %}">

    <title>
        {% block my_title %}
            Hand Hunter
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Домой</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workers">Кандидаты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-company">Добавить компанию</a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Вакансии</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/vacancies">Список вакансий</a></li>
                <li><a class="dropdown-item" href="/add-vacancy">Добавить вакансию</a> </li>
                <li><a class="dropdown-item" href="/add-vacancy-df">Добавить вакансию (dj form)</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resume-list">Резюме</a>
            </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my-resume' %}">Мои Резюме</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add-resume' %}">Добавить Резюме</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign-out' %}">Выйти</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reg' %}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign-in' %}">Вход</a>
            </li>
          {% endif %}

          </ul>
        </div>
      </div>
    </nav>
    <div>
        <br>
        <form method="GET" action="/search">
            <input
                    type="text"
                    placeholder="Ключевое слово"
                    name="keyword">
            <button class="btn btn-warning">Поиск</button>
        </form>
    </div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% block custom_container %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% endblock %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <hr>
        +996777333222<br/>
        Адрес: Бишкек, 7 м-н
    </footer>
</body>
</html>