{% extends 'base.html' %}
{% block custom_container %}
    <div class="homepage">
        <h1>Поиск работы и работников</h1>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias animi asperiores aspernatur assumenda, aut consequuntur distinctio ea eius est ex illo inventore labore libero molestiae nihil nobis obcaecati pariatur, perferendis possimus qui quibusdam quod repellendus repudiandae sapiente similique soluta ullam vel veniam veritatis vero vitae voluptatem voluptates? Consectetur dolorum esse fugiat ipsam, laudantium odio pariatur tempore. Atque, beatae commodi cupiditate distinctio, dolor hic ipsa ipsum labore officiis perferendis perspiciatis placeat sequi similique ullam vero voluptas voluptatem. A ab asperiores consequatur delectus dicta dolore, est ex excepturi ipsum, iusto magni natus perspiciatis quasi quo rem repellat similique, sit suscipit? Nemo!
            Поиск работы и работников
            Поиск работы и работников
            Поиск работы и работников
            Поиск работы и работников
            Поиск работы и работников
            Поиск работы и работников
            Поиск работы и работников
        </div>
    </div>
    <div>
        <h2>Топ 5 вакансий</h2>
        {% for v in vacancies %}
            <p>
                <a href="{% url 'vacancy-info' v.id %}">
                    {{ v.title }}
                </a>
            </p>
        {% endfor %}
    </div>
    <div>
        <h2>Топ 3 компаний</h2>
        {% for c in companies %}
            <p>
                <a href="/company-edit/{{ c.id }}">
                    {{ c.name }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}